@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-cream: #FFFDF1;
  --color-sage: #89986D;
  --color-sage-dark: #74825b;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-cream);
}

::-webkit-scrollbar-thumb {
  background: var(--color-sage);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-sage-dark);
}